ENCORE_DB_HOST=127.0.0.1
ENCORE_DB_PORT=3307
ENCORE_DB_NAME=encore
ENCORE_DB_USER=encore
ENCORE_DB_PASSWORD=encore123
ENCORE_MYSQL_ROOT_PASSWORD=root123

ENCORE_REDIS_HOST=127.0.0.1
ENCORE_REDIS_PORT=6379
ENCORE_REDIS_DATABASE=0
ENCORE_REDIS_PASSWORD=
